:root{
    /*Primary*/

    --Lightred: hsl(0, 100%, 67%);
    --Orangey_yellow: hsl(39, 100%, 56%);
    --Green_teal: hsl(166, 100%, 37%);
    --Cobalt_blue: hsl(234, 85%, 45%);

    /*Gradients*/

    --Light_slate_blue: hsl(252, 100%, 67%); /* (background)*/
    --Light_royal_blue: hsl(241, 81%, 54%);/* (background)*/
    --Violet_blue: hsla(256, 72%, 46%, 1);/* (circle)*/
    --Persian_blue: hsla(241, 72%, 46%, 0);/* (circle)*/

    /* Neutral*/
    --White: hsl(0, 0%, 100%);
    --Pale_blue: hsl(221, 100%, 96%);
    --Light_lavender: hsl(241, 100%, 89%);
    --Dark_gray_blue: hsl(224, 30%, 27%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    max-width: 1440px;
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--White);
    align-items: center;
}
p{
    font-size:18px ;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    border-radius: 1em;
    gap: 1rem;
    box-shadow: 0px 10px 25px 0px var(--Pale_blue);

}
.card__component{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: clamp(45rem, calc(40rem + 2vw), 45rem);
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 1em;
    
   
}

.progress__container{
    display: flex;
    width:fit-content;
    height: 100%;
    object-fit: cover;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, var(--Light_royal_blue) 0%,  var(--Light_slate_blue) 100%);
    border-radius: 1em;

    
}

.progress__container h3{
    color: var(--Light_lavender);
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}
.progress__number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background:linear-gradient(0deg, var(--Persian_blue) 0%,  var(--Violet_blue) 100%) ;
}
.progress__container h1{
    color: var(--White);
    text-align: center;
    padding-top: 3rem;
    font-size:4rem;
}

.progress__container h2{
    color: var(--White);
    padding: 2rem;
}

.progress__container p{
    color: var(--Light_lavender);
    text-align: center;
    padding: 0 1rem 3rem 1rem;
}

.summary__container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 100%;
    padding-top: 1.5rem;
}

.summary__container h3{
    justify-self: flex-start;
    color: var(--Dark_gray_blue);
    padding-bottom: 1.5rem;
    
}
.result__list{
    display: flex;
    max-width: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 1rem;
    padding-bottom: 1rem; 
}
.template__sum{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1em;
    padding: 1rem;border-radius: 1em;
    padding: 1rem;
    width: 100%;
}
.flex__text{
    display: flex;
    flex-direction: row;
    gap: 1rem;

}
.score{
    display: flex;
    justify-self: flex-end;
    color: var(--Dark_gray_blue);
    
}
span{
    color: hsla(224, 30%, 27%, 0.5)
}

.reaction{    
    background-color: hsla(0, 100%, 67%, 0.05); 
}
.reaction__text{
    color: var(--Lightred);
}
.memory{
    background-color: hsla(39, 100%, 56%, 0.05);
}
.memory__text{
    color: var(--Orangey_yellow);
}
.verbal{
    background-color: hsla(166, 100%, 37%, 0.05);
}
.verbal__text{
    color: var(--Green_teal);
}
.visual{
    background-color: hsla(234, 85%, 45%, 0.05);
}
.visual__text{
    color: var(--Cobalt_blue);
}

.btn{
    display: flex;
    border-radius: 2em;
    padding: 1rem;
    margin-top: 2rem;
    background: var(--Dark_gray_blue);
    justify-content:center ;
    align-items: center;
    color: var(--White);
    border: none;

}
.btn:hover{
    background: linear-gradient(0deg, var(--Light_royal_blue) 0%,  var(--Light_slate_blue) 100%);
    border: none;
    cursor: pointer;
}

@media screen and (max-width:375px) {
    .container{
        max-width: 100%;
        height: 100%;
        display: block;
        border-radius: 0;
        padding: 0;
        margin-block: none;
        gap: 0rem;
        
        
    }
    .card__component{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: fit-content;
        height: max-content;
        padding: 0;
        margin: none;
        
    }
    .progress__container{
        display: flex;
        flex-direction: column;
        border-radius: 0 0 1em 1em;
        height: 50%;        
    }
    .progress__number{
        width: 150px;
        height: 150px;
    }
    .progress__container{
        padding: 0;
    }
    .progress__container h2{
        padding: 1rem;
    }
    .progress__container h3{
        padding: 1rem;
    }

    .summary__container{
        padding: 1.5rem;
        margin: none;
        width: 100%;
        height: auto;
        padding-bottom: 2rem;
    }
    .result__list{
        padding-bottom: 0;
        
    }
    .btn{
        margin-top: 1rem;
    }
        
}
@media screen and (max-width:960px) {
    .container{
        max-width: 100%;
        
    }

}
